.main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  color: #fff;
  font-size: 20px;
}

/* Tablet and Smaller Desktop */
/* @media (min-width: 701px) and (max-width: 1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
} */
